<footer class="page-footer text-center">
    <!-- Social icons -->
    <hr class=" my-4">
    <div class="pb-4 height-auto">

        <strong> Accepted payments:</strong>
        <img height="40" src="https://shoplineimg.com/assets/footer/card_visa.png" hspace="20" />
        <img height="40" src="https://shoplineimg.com/assets/footer/card_master.png" hspace="20" />
        <img height="40" src="https://shoplineimg.com/assets/footer/card_amex.png" hspace="20" />
        <img height="40" src="http://www.credit-card-logos.com/images/discover_credit-card-logos/discover_network1.jpg"
            hspace="20" />
    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3 "">
        © 2019 Copyright:
        <a href=" https://github.com/bozinovskamarija" target="_blank"> Marija Božinovska </a>
    </div>
    <!--/.Copyright-->
</footer>